.Note {
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 20px;
  .note-actions {
    height: 18px;
    min-width: 18px;
    background-size: cover;
    &.edit-note {
      margin-right: 15px;
      background-image: url('/icons/edit.svg');
    }
    &.delete-note {
      position: absolute;
      right: 20px;
      background-image: url('/icons/delete.svg');
    }
  }

  .note-title {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }
}


// Add iPad layout & more
@media (min-width: 768px) {
  .Note {
    margin: 0 0 30px;
    .note-title {
      font-size: 21px;
    }
    .note-actions {
      height: 24px;
      min-width: 24px;
    }
  }
}