.Note-editor {
  font-family: 'IBM Plex Mono';
  position: relative;
  min-height: 50px;
  margin: 0 20px;
  .error-message {
    font-size: 12px;
    color: red;
  }
  .input-title, .textarea-content {
    width: 100%;
    font-weight: 300;
    margin: 4px 0;
  }
  .input-title {
    &::placeholder {
      font-style: normal;
    }
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
  }
  .textarea-content {
    height: calc(100% - 110px);
    font-size: 14px;
    line-height: 18px;
  }
  .note-actions {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    .btn-ghost {
      border: 1px solid #262324;
      font-style: italic;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: 5px;
      width: 100px;
      transition: background-color 300ms, border 200ms;
      &:hover {
        background-color: rgba(0,0,0,0.1);
        border: 1px solid black;
      }
    }
  }
}

// Add iPad layout & more
@media (min-width: 768px) {
  .Note-editor {
    .note-actions {
      bottom: 50px;
      .btn-ghost {
        font-size: 18px;
        padding: 15px 40px;
        width: 400px;
      }
    }
    .input-title {
      font-size: 28px;
    }
    .textarea-content {
      font-size: 16px;
    }
  }
}