.Note-list {
  width: 100%;
  background-color: #262324;
  min-height: 80px;
  color: white;
  
  .empty-note-list {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
  }

  .input-search-note {
    font-size: 11px;
    margin: 25px auto 20px;
    padding: 5px 20px;
    width: 150px;
    border-radius: 50px;
    min-height: 15px;
  }

  .note-list-wrapper {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
  }
  .notes {
    position: relative;
    margin-top: 30px;
    overflow-y: auto;
    max-height: 300px;
  }
}

// Add iPad layout & more
@media (min-width: 768px) {
  .Note-list {
    margin-top: -72px;
    max-height: none;
    .note-list-wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .notes {
      max-height: calc(100% + 80px);
    }
    .empty-note-list {
      margin-top: 80px;
    }
    .input-search-note {
      font-size: 14px;
      padding: 5px 40px;
      width: 150px;
    }
  }
}