.App {
  background-color: white;
  height: 100vh;
  .header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-content: center;
  }
  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
  }
  .add-new-note {
    background-image: url('/icons/add-note.svg');
    background-size: cover;
    width: 32px;
    height: 32px;
  }

  .note-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: auto;
    height: calc(100vh - 72px);
    
    .Note-editor, .Note-list { 
      transition: all 300ms ease-in-out;
    }
    &.writing-mode {
      .Note-editor {
        flex-grow: 8;
      }
      .Note-list {
        position: relative;
        height: 80px;

      }
    }
    &.searching-mode {
      .Note-list {
        flex-grow: 10;
      }
    }
  } 
}

// Add iPad layout & more
@media (min-width: 768px) {
  .App {
    .Note-editor, .Note-list {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      width: auto;
    }
    .note-container {
      flex-direction: row;
      &.writing-mode {
        .Note-editor {
          flex-grow: 8;
        }
        .Note-list {
          flex-grow: 1;
          height: 100vh;
        }
      }
      &.searching-mode {
        .Note-editor {
          flex-grow: 1;
        }
        .Note-list {
          flex-grow: 1;
        }
      }
    }

    h1 {
      font-size: 32px;
    }
  }


}
