@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,400,400i,500i,700,700i&display=swap');

html, body {
  overflow: hidden;
}
body {
  background-color: #E5E5E5;
  margin: 0;
  font-family: 'IBM Plex Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset default styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type="text"], textarea {
  font-family: 'IBM Plex Mono';
  display: block;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

.note-actions {
  cursor: pointer;
}
